@import "../../styles/constants";

.ad-container-1 {
  background-color: #fff;

  .ad-container-inner:empty {
    margin-bottom: 35px;
  }
}

.ad-container-2 {
  background-color: $theme-extra-light-gray;
}

.latest-posts-container {
  background-color: $theme-extra-light-gray;
}