@import "../../styles/fonts";
@import "../../styles/constants";
@import "../../styles/media";

.featured-posts-container {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom-width: 28px;
  border-bottom-style: solid;
  border-bottom-color: $theme-violet;

  &.empty, &:empty {
    padding-top: 0;
  }

  .featured-posts-inner {
    flex-direction: row;

    @include respond-to('iphone-x', 'portrait', 'lte') {
      flex-direction: column;
    }
  }
}

.featured-post {
  display: flex;
  flex: 1;
  position: relative;

  .featured-post-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content-background {
    background-color: $theme-extra-light-gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .content-inner {
    z-index: 1;
  }

  &:first-child {
    .featured-post-background {
      background-color: $theme-pink;
    }

    .featured-post-background, .content-background {
      left: -500px;

      @include respond-to('iphone-x', 'portrait', 'lte') {
        right: -500px;
      }
    }
  }

  &:nth-child(2) .featured-post-background {
    background-color: $theme-teal;
  }

  &:last-child {
    .featured-post-background {
      background-color: $theme-violet;
    }

    .featured-post-background, .content-background {
      right: -500px;

      @include respond-to('iphone-x', 'portrait', 'lte') {
        left: -500px;
      }
    }
  }

  h2 {
    color: #fff;
    font-family: $crimsonTextFontFamily;
    font-size: 32pt * $sketchFontMulitplier;
    font-weight: 100;
  }
}