.post-excerpt {

  .title-link {
    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  h1 {
    margin-bottom: 5px;
    font-weight: bold;
  }

  h4 {
    margin-bottom: 5px;
  }

  .more-link {
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 5px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;

    &:hover, &:active, &:focus {
      // background-color: lighten(#3C4851, 7);
      border-color: #3C4851;
      border-width: 1px;
      border-style: solid;
    }
  }
}