@import "../../styles/constants";
@import "../../styles/fonts";

.post-excerpt {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  transition: box-shadow 0.1s;

  .content-container {
    padding: 15px;
  }

  .image-container {
    padding-top: 125%;
    width: 100%;
    background-color: $theme-extra-light-violet;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }

  *::selection {
    background-color: $theme-extra-light-violet;
    color: $theme-violet;
  }

  .category {
    margin-bottom: 1px;
    margin-top: 0px;
    font-family: $tajawalExtrBoldFontFamily;
    font-weight: 100;
    font-size: 13pt * $sketchFontMulitplier;
    color: $theme-dark-violet;
  }

  .title-link {
    text-decoration: none;
    max-width: 300px;
    display: inline;
    font-family: $tajawalExtrBoldFontFamily;
    font-size: 30pt * $sketchFontMulitplier;
    font-weight: 100;
    line-height: 33.5pt;
    vertical-align: middle;
    padding-top: 9px;
    
    .title {
      color: $theme-dark-violet;
      display: inline;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      vertical-align: middle;
      padding-top: 9px;
      padding-left: 5px;
      padding-right: 5px;
    }

    &:hover, &:active, &:focus {
      .title {
        background-color: $theme-dark-violet;
        color: $theme-extra-light-violet;
      }
    }
  }

  .author, .timestamp {
    margin-top: 5px;
    font-family: $tajawalLightFontFamily;
    font-weight: 100;
    font-size: 13pt * $sketchFontMulitplier;
    color: $theme-dark-violet;
  }

  .excerpt {
    display: flex;
    flex: 1;
    font-family: $crimsonTextFontFamily;
    font-weight: 100;
    font-size: 17pt * $sketchFontMulitplier;
    color: $theme-dark-violet;
  }
}
