.logo-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: 200px;
  max-width: 325px;
  padding: 0 45px;
  align-items: center;
  justify-content: center;

  .logo {
    display: flex;
    flex: 1;

    svg {
      display: flex;
      flex: 1;
    }
  }

  .logo-text {
    max-width: 150px;
  }

  .logo-icon {
    flex: 0.5;
    margin-right: 25px;
  }
}