@import "../../styles/constants";
@import "../../styles/fonts";
@import "../../styles/media";

.latest-posts-container .section-header {
  font-family: $imFellFrenchCanonFontFamily;
  font-weight: 100;
  font-size: 48pt * $sketchFontMulitplier;
  color: $theme-medium-gray;
}

.latest-posts {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding-bottom: 45px;

  @include respond-to('iphone-x', 'portrait', 'lte') {
    flex-direction: column;
  }

  .post-excerpt {
    display: flex;
    flex: 1;
    flex-basis: 30%;
    margin-bottom: 15px;

    &:nth-child(n) {
      margin-right: 15px;
    }

    &:nth-child(n + 1) {
      margin-right: 0px;
      margin-left: 0px;
    }

    &:nth-child(n + 2) {
      margin-left: 15px;
    }

    // if there are four children, the fourth post should fill the entire width
    // with no padding on either side
    &:nth-child(n + 4) {
      margin-top: 52px;
      margin-bottom: 52px;
      margin-right: 0px;
      margin-left: 0px;
    }

    &:nth-child(n + 5) {
      margin-left: 15px;
    }


    // special cases: only one child, only 4 children
    &:nth-child(4):last-child, &:only-child {
      flex-direction: row;

      .image-container {
        padding-top: 62.5%;
        display: flex;
        flex: 1;
        max-width: 50%;
      }

      .content-container {
        position: relative;
        height: 100%;
        max-width: 50%;
        display: flex;
        flex: 1;
      }

      .content-inner {
        @include respond-to('ipad', 'landscape', 'lte') {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 50px;
          text-align: center;
          background-color: $theme-extra-light-violet;
        }
      }

      .category-container, .excerpt-container {
        display: flex;
        flex: 1;
      }

      .excerpt-container {
        margin-bottom: 50px;
      }
    }

    @include respond-to('iphone-x', 'portrait', 'lte') {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
}