.hero-post-excerpt {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;

  .image {
    background-color: #FEEFEA;
    display: flex;
    flex: 1;
    margin-bottom: 20px;
  }

  .half {
    display: flex;
    flex: 1;
    padding: 15px;
  }

  .title-link {
    margin-top: 3px;
    text-decoration: none;
    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  h2 {
    display: inline;
    font-weight: bold;
    border-radius: 2px;
    color: #3C4851;
    background-color: #FEEFEA;
    box-shadow: 7px 0 0 #FEEFEA, -7px 0 0 #FEEFEA;

    &:hover, &:active, &:focus {
      box-shadow: 7px 0 0 #00F7AA, -7px 0 0 #00F7AA;
      background-color: #00F7AA;
      color: #3E3C4C;
      text-decoration: none;
    }
  }

  .timestamp {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #B1B1B2;
  }

  .more-link {
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 5px;
    border-color: transparent;
    border-width: 1px;
    border-style: solid;

    &:hover, &:active, &:focus {
      border-color: #3C4851;
      border-width: 1px;
      border-style: solid;
    }
  }
}