.hero-post-excerpt {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;

  .image {
    background-color: #FEEFEA;
    display: flex;
    flex: 1;
    margin-bottom: 20px;
  }

  .half {
    display: flex;
    flex: 1;
    padding: 15px;
  }

  .column-layout {
    align-items: flex-start;
  }

  .title-link {
    margin-top: 3px;
    text-decoration: none;
    color: #3C4851;

    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
  }

  h2 {
    display: inline;
    font-weight: bold;
    border-radius: 2px;
    color: #3C4851;

    &:hover, &:active, &:focus {
      background-color: #FEEFEA;
      box-shadow: 7px 0 0 #FEEFEA, -7px 0 0 #FEEFEA;
      color: #3E3C4C;
    }
  }

  .timestamp {
    margin-bottom: 5px;
    margin-top: 5px;
    color: #B1B1B2;
  }

  .more-link {
    text-decoration: none;
    text-align: center;
    border-color: transparent;
    border-width: 0px;
    border-bottom-color: transparent;
    border-bottom-width: 1px;
    border-style: solid;
    color: #3C4851;

    h5 {
      margin-bottom: 0;
      line-height: 0.9em;
    }

    &:hover, &:active, &:focus {
      border-bottom-color: #3C4851;
    }
  }
}
