@import "../../styles/fonts";
@import "../../styles/constants";

.call-to-action-button-container {
  width: 100vw;
  height: 160px;
  position: relative;
  background-color: $theme-pink;
  cursor: pointer;

  .call-to-action-inner {
    flex-direction: row;
  }
}

.call-to-action-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    background-color: $theme-pink;

    img {
      min-width: 100%;
      height: auto;
      min-height: 100%;
      position: absolute;
      left: 0;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba($theme-pink, 0.5);
      content: '';
      transition: 300ms background-color;
    }

    &:hover, &:focus {
      &:after {
        background-color: rgba($theme-pink, 0.75);
      }
    }
  }

  .content {
    position: relative;

    a {
      text-decoration: none;
    }
  }

  .call-to-action-text-primary {
    font-family: $crimsonTextFontFamily;
    font-size: 32pt * $sketchFontMulitplier;
    font-weight: 100;
    margin: 0;
    text-align: left;
    color: $theme-pink;
    
    span {
      padding-left: 5px;
      padding-right: 5px;
      display: inline;
      background-color: #fff;
    }
  }

  .call-to-action-text-secondary {
    background-color: #fff;
    color: $theme-pink;
    font-family: $crimsonTextFontFamily;
    font-size: 13pt * $sketchFontMulitplier;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2.5px;
  }
}