@import "../../../styles/media";

.content-max-width {
  max-width: 1080px;
  display: flex;
  flex: 1;
  flex-direction: column;

  @include respond-to('ipad', 'portrait', 'lte') {
    max-width: 640px;
  }

  @include respond-to('ipad', 'landscape', 'lte') {
    max-width: 768px;
  }
}
