@import "../../styles/fonts";
@import "../../styles/constants";

.featured-post-excerpt {
  .background {
    height: 378px;
  }

  .content {
    margin-top: 378px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .category {
    margin-bottom: 1px;
    font-family: $tajawalLightFontFamily;
    font-weight: 100;
    font-size: 13pt * $sketchFontMulitplier;
    color: $theme-dark-gray;
  }

  .title-link {
    text-decoration: none;
    max-width: 325px;
    display: inline-block;

    .title {
      color: $theme-dark-gray;
      display: inline;
      margin: 0;
      font-family: $crimsonTextFontFamily;
      font-size: 32pt * $sketchFontMulitplier;
      font-weight: 100;
      line-height: 1.37em;
    }

    &:hover, &:active, &:focus {
      .title {
        background-color: $theme-dark-gray;
        color: #fff;
      }
    }
  }

  .author {
    margin-top: 15px;
    font-family: $tajawalLightFontFamily;
    font-weight: 100;
    font-size: 13pt * $sketchFontMulitplier;
    color: $theme-dark-gray;
  }
}