$text-color: #383e40;

.postContainer {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postTitle {
  display: inline;
  font-weight: bold;
  border-radius: 2px;
  color: #3C4851;
  margin-bottom: 0;
}

.postDate {
  font-size: 16px;
  color: grey;
  font-weight: normal;
  margin: 0;
  margin-bottom: 40px;
}

.timestamp {
  margin-bottom: 5px;
  margin-top: 5px;
  color: #B1B1B2;
}

.postContent {
  margin-top: 15px;
  line-height: 1.85;

  img {
    width: 100%;
    height: auto;
  }
}
